<?xml version="1.0"?>
<launch>
    <!-- Parameters and Arguments -->
    <arg name="name"                              />           <!-- Name of the vehicle being launched                           -->   
    <arg name="config_package_path"               />           <!-- Name of the package where the configuration files are stored -->
    <arg name="folder"            default="vehicles"  />           <!-- Name of the folder for the configuration files               --> 
    <arg name="namespace"         default="false" />
    <arg name="vehicle_id"        default="0"     />

    <arg name="leak_detector"     default="false" />
    
    <group ns="drivers">
        
        <!-- Load topics Params for all drivers-->
        <arg name="dollar" value="$" />

        <!-- Load drivers configs (ports, baudrate, ...) -->
        <rosparam command="load" file="$(arg dollar)$(arg config_package_path))/config/$(arg folder)/$(arg name)/drivers.yaml" />
        
        <!-- Driver nodes, only in real scenarios -->  
        <!-- leak detector-->                                 
        <group if="$(arg leak_detector)">
          <node pkg="parallel_port" type="parallel_port" name="parallel_port" respawn="false" output="screen">
              <param name="name_vehicle_id"   value="$(arg name)$(arg vehicle_id)"/>
          </node>
            
          <node pkg="leak" type="leak_node" name="leaks" respawn="false" output="screen">
              <param name="vehicle_id"          value="$(arg vehicle_id)" />
              <param name="name_vehicle_id"   value="$(arg name)$(arg vehicle_id)"/>
          </node>
        </group>
    </group>

</launch>
