[Unit]
Description=gSniffer shutdown to ensure high voltage is zero
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
ExecStart=/home/ubuntu/gsniffer_ws/build/mca_comm/mca_shutdown
TimeoutStartSec=0
# Show output in the console, but it is very verbose, so it is commented out by default.
# If you enable this, run `sudo systemctl daemon-reload`
# StandardOutput=journal+console

[Install]
WantedBy=shutdown.target
