# Serial ports
KERNEL=="ttyS1", SYMLINK+="medusa/gps"
KERNEL=="ttyS2", SYMLINK+="medusa/altimeter"
KERNEL=="ttyS3", SYMLINK+="medusa/batmonit"
KERNEL=="ttyS4", SYMLINK+="medusa/optical_modem"

# Thrusters
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", DRIVERS=="usb", ATTRS{serial}=="00007964", MODE="0666", SYMLINK+="medusa/thrusterR"
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", DRIVERS=="usb", ATTRS{serial}=="00008930", MODE="0666", SYMLINK+="medusa/thrusterL"

# USB ports
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", DRIVERS=="usb", ATTRS{serial}=="A90414BB", MODE="0666", SYMLINK+="medusa/bluetooth"
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", DRIVERS=="usb", ATTRS{serial}=="A9014YVG", MODE="0666", SYMLINK+="medusa/imu"
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", DRIVERS=="usb", ATTRS{serial}=="FT08LZ1X", MODE="0666", TAG+="uaccess", SYMLINK+="medusa/inside_pressure"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", DRIVERS=="pl2303", KERNELS=="7-1:1.0", SYMLINK="medusa/payload"
