# Serial ports
KERNEL=="ttyS1", SYMLINK+="medusa/gps"
KERNEL=="ttyS2", SYMLINK+="medusa/altimeter"
KERNEL=="ttyS3", SYMLINK+="medusa/batmonit"
KERNEL=="ttyS4", SYMLINK+="medusa/dvl"

# USB ports
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", DRIVERS=="usb", ATTRS{serial}=="A90414BE", MODE="0666", SYMLINK+="medusa/bluetooth"
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", DRIVERS=="usb", ATTRS{serial}=="AH01I06L", MODE="0666", SYMLINK+="medusa/imu"
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", DRIVERS=="usb", ATTRS{serial}=="FTZ9771P", MODE="0666", TAG+="uaccess", SYMLINK+="medusa/inside_pressure"
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", DRIVERS=="usb", ATTRS{serial}=="FT08UGY2", MODE="0666", SYMLINK+="medusa/depth_cell"
SUBSYSTEM=="tty", KERNEL=="ttyUSB*", DRIVERS=="pl2303", KERNELS=="7-1:1.0", SYMLINK="medusa/payload"
SUBSYSTEM=="tty", SUBSYSTEMS=="usb", DRIVERS=="usb", ATTRS{serial}=="FTY5HKDQ", MODE="0666", SYMLINK+="medusa/optical_modem"


# THRUSTERS - THIS IS NECESSARY
SUBSYSTEMS=="usb", ATTRS{idVendor}=="f4d8", ATTRS{idProduct}=="0001", SYMLINK+="medusa/thrusters_usb", GROUP="dialout", MODE="777"

