<?xml version="1.0"?>
<launch>
 <!-- small description about your node -->
 
 <!--<node pkg="my_package_name" type="my_node_name" name="my_node_name"
 respawn="false" output="screen" args="$(find leaks)/config/my_arg_file.yaml"/>-->
 <node pkg="parallel_port" type="parallel_port" name="parallel_port" respawn="false" output="screen">
    <param name="vehicle/parallel_port_output" value="200"/>
 </node>
</launch>
